<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="random"
    failOnEmptyTestSuite="true"
    failOnRisky="true"
    failOnWarning="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Functional">
            <directory>./tests/Functional</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <!-- <env name="VIVA_API_KEY" value="test-api-key"/>
        <env name="VIVA_MERCHANT_ID" value="test-merchant-id"/>
        <env name="VIVA_ENVIRONMENT" value="demo"/>
        <env name="VIVA_SOURCE_CODE" value="viva-source-code"/>
        <env name="VIVA_CLIENT_ID" value="viva-client-id"/>
        <env name="VIVA_CLIENT_SECRET" value="viva-client-secret"/>
        <env name="VIVA_ISV_CLIENT_ID" value="viva-isv-client-id"/>
        <env name="VIVA_ISV_CLIENT_SECRET" value="viva-isv-client-secret"/>
        <env name="VIVA_ISV_PARTNER_ID" value="viva-isv-partner-id"/>
        <env name="VIVA_ISV_PARTNER_API_KEY" value="viva-isv-partner-api-key"/> -->
    </php>
</phpunit>
